body {
  background-image: linear-gradient(white, white, #c0d8a7);
  color: black;
  font-family: Georgia;
  font-size: 20px;
  margin: 0;
  padding: 0;
  height: 100%;
}

html {
  height: 100%;
}

ul {
  padding: 0;
  margin-block-start: 0em;
}

ul .categories {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: #472c1d;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  font-family: Georgia;
  font-size: 20px;
}

.spacer {
  flex-grow: 0.95;
}

ul .profile {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #472c1d;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  font-family: Georgia;
  font-size: 20px;
}

ul .profile:hover {
  overflow: visible;
}

li a, .dropbtn {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 14px 24px;
  text-decoration: none;
}

li a:hover, .dropdown:hover .dropbtn {
  background-color: #dbcccc;
}

li.dropdown {
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #472c1d;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: white;
  padding: 8px 10px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #dbcccc;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.active {
  background-color: #81B14F;
}

.mySlide {
  margin: auto;
}

#textColor {
  color: white;
}

h3{
  text-align: center;
  font-family: sans-serif;
}
