div#logoHeader {
 width: 100%;
 height: 200px;
 text-align:center;
 display: flex;
}

div#logoHeader div#header {
 width: 900px;
 height: 150px;
 margin:0 auto;
}

div#logoHeader div#header img {
 height: 200px;
 margin:0 auto;
}

body {
  background-image: linear-gradient(white, #c0d8a7);
  color: black;
  font-family: Georgia;
  font-size: 20px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #451b04;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  font-family: Georgia;
  font-size: 20px;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 24px;
  text-decoration: none;
}

li a:hover {
  background-color: #dbcccc;
}

.active {
  background-color: #81B14F;
}

body {
  font-family: sans-serif;
  color: #3c3939;
  background-color: #f1f1f1
}

.profile-card {
  width:400px;
  margin: auto;
  background: #fff;
  box-shadow: 0 4px 10px 0 rgba(0,0,0,0.5);
}

.image-container {
  position: relative;
}

.info {
  color: blue;
  margin-right: 16px;
}

.main-container {
  padding: 20px;

}

.skill-bar {
  background-color: : #a7b59a;
  border-radius: 16px;
}


.progress-bar {
  padding: 0.1em 16px;
  border-radius: : 16px;
  text-align: center;
  color: #fff;
  background-color: #7ba15a;
}
