
body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: black;
}

* {
  box-sizing: border-box;
}

.container {
  padding: 16px;
  background-color: white;
}

hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}

.registerbtn {
  background-color: #4CAF50;
  color: white;
  padding: 16px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}

.registerbtn:hover {
  opacity: 1;
}

a {
  color: dodgerblue;
}

.signin {
  background-color: #f1f1f1;
  text-align: center;
}

body {
  background-image: linear-gradient(white, white, #c0d8a7);
  color: black;
  font-family: Georgia;
  font-size: 20px;
}

ul .categories {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: #451b04;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  font-family: Georgia;
  font-size: 20px;
}

.spacer {
  flex-grow: 0.95;
}

ul .profile {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #451b04;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  font-family: Georgia;
  font-size: 20px;
}

ul .profile:hover {
  overflow: visible;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 24px;
  text-decoration: none;
}

li a:hover {
  background-color: #dbcccc;
}

.active {
  background-color: #81B14F;
}


* {
  box-sizing: border-box;
}

.container {
  padding: 16px;
  background-color: white;
  text-align: center;
  /* border: 2px solid green; */
  width: 60%;
  margin: auto;
}

hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}


a {
  color: dodgerblue;
}

.signin {
  background-color: #f1f1f1;
  text-align: center;
  width: 100%;
}
