body, html, ul, li, img, div{
  margin:0; padding:0;
}
body{
  width:80%;
  margin: 50px auto;
}

.auto-slider{
  overflow: hidden;
}

.auto-slider__content{
  list-style:none;
  display:flex;
  background-color: white;
  /* animation: slide 10s ease-in-out infinite; */
  /* animation: translate 10s ease-in-out; */
/*   animation-direction: alternate-reverse; */
}
.auto-slider__content:hover{
  animation-play-state:paused;
}

.hidden {
  opacity: 0;
  height:0;
}

.active {
  opacity: 100;
}
