body, html, ul, li, img, div{
  margin:0; padding:0;
}
body{
  /* width:80%; */
  margin: 50px auto;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.auto-slider{
  text-align: center;
  overflow: hidden;
  /* justify-content: space-between; */
}

.auto-slider__content{
  list-style:none;
  display:flex;
  background-color: white;
  width: 800px;
  /* height: 100px */
  /* border: 2px solid black; */
  position: relative;
  transition: all .5s;
  /* animation: slide 10s ease-in-out infinite; */
  /* animation: translate 10s ease-in-out; */
/*   animation-direction: alternate-reverse; */
}
.auto-slider__content:hover{
  animation-play-state:paused;
}

.active {
  position: relative;
  opacity: 100;
  /*  */
}

.auto-slider__content.hidden {
  position: absolute;;
  z-index: -100;
  opacity: 0;
  height: 0;
}

.auto-slider__content.hidden.left {
  transform: translateX(100px);
}

.auto-slider__content.hidden.right {
  transform: translateX(-100px);
}
