<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>UpTrade 🌿Accessories</title>
    <link href="/stylesheets/accessories.css" rel="stylesheet">
  </head>
  <div id="logoHeader">
    <div id="header">
      <img src="/stylesheets/UpTrade.png" alt"logo"/>
    </div>
  </div>
  <ul>
    <li><a href="/"><img src="/stylesheets/leaves.png" alt"leaves" height="18" width="18"/> Home</a></li>
    <li style-"float:right"><a class="active" href="/accessories"><img src="/stylesheets/leaves.png" alt"leaves" height="18" width="18"/> Accessories</a></li>
    <li><a href="/clothing"><img src="/stylesheets/leaves.png" alt"leaves" height="18" width="18"/> Clothing</a></li>
    <li><a href="/decoration"><img src="/stylesheets/leaves.png" alt"leaves" height="18" width="18"/> Decoration</a></li>
    <li><a href="/office"><img src="/stylesheets/leaves.png" alt"leaves" height="18" width="18"/> Office Supplies</a></li>
    <li><a href="/other"><img src="/stylesheets/leaves.png" alt"leaves" height="18" width="18"/> Other</a></li>
    <li style="float:right"><a href="/profile"><img src="/stylesheets/leaves.png" alt"leaves" height="18" width="18"/> Profile</a></li>
  </ul>
  <body>
  </body>
</html>
