<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Add Product</title>
    <link href="/stylesheets/add.css" rel="stylesheet">
  </head>
  <div id="logoHeader">
    <div id="header">
      <img src="/stylesheets/UpTrade.png" alt"logo" />
    </div>
  </div>
  <ul>
    <li style-"float:right"><a class="active" href="/">Home</a></li>
    <li><a href="/product">Products</a></li>
    <li><a href="/exchange">Exchange</a></li>
    <li style="float:right"><a href="/profile">Profile</a></li>
  </ul>
  <body>
    <br><h1>Add a product</h1>
    <p>Please enter information for all required fields (*):</p>
    <form class="" action="" enctype="multipart/form-data" method="post">
      <br>
      <div>Name (*):<input type="text" name="nam" value=""></div>
      <br>
      <div>Description (*):<input type="text" name="desc" value=""></div>
      <br>
      Upload an image of your product: (*)<div>
        <input type="file" name="pic" accept="image/*" value="">
      </div>
      <br>
      <div>Category:<input type="radio" id= "Clothing" name="cat" value="">
      <label for="Clothing">Clothing</label>
      <input type="radio" id= "Decoration" name="cat" value="">
      <label for="Decoration">Decoration</label>
      <input type="radio" id= "Other" name="cat" value="">
      <label for="Other">Other</label>
      </div>
      <br><br>
      <input type="submit" name="sub-butt" value="Add product">
    </form>
  </body>
</html>
