<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Add Product</title>
    <link href="/stylesheets/add.css" rel="stylesheet">
  </head>
  <div id="logoHeader">
    <div id="header">
      <img src="/stylesheets/UpTrade.png" alt"logo" />
    </div>
  </div>
  <ul>
    <li style-"float:right"><a class="active" href="/">Home</a></li>
    <li><a href="/product">Products</a></li>
    <li><a href="/exchange">Exchange</a></li>
    <li style="float:right"><a href="/profile">Profile</a></li>
  </ul>
  <body>
    <br><h1>Add a product</h1>
    <p>Please enter information for all required fields (*):</p>
    <form class="" action="index.html" method="get">
      <br>
      Name (*): <input type="text" name="prodname" value="">
      <br>
      Description (*): <input type="text" name="prodname" value="">
      <br>
      Upload an image of your product: (*) <input type="file" name="pic" accept="image/*" value="">
      <br>
      Category: <input type="text" name="prodname" value="">
      <br><br>
      <input type="submit" name="sub-butt" value="Add product">

      <input type="image" name="" value="">
    </form>
  </body>
</html>
