<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>UpTrade 🌿Add Product</title>
    <link href="/stylesheets/home.css" rel="stylesheet">
    <link rel="stylesheet" href="/stylesheets/signup.css">
  </head>
  <div id="logoHeader">
    <div id="header">
      <img src="/stylesheets/UpTrade.png" alt"logo" />
    </div>
  </div>
  <ul>
    <li style-"float:right"><a id="Home" href="/"><img src="/stylesheets/leaves.png" alt"leaves" height="18" width="18"/> Home</a></li>
    <li><a id="Accessories" href="/?category=Accessories"><img src="/stylesheets/leaves.png" alt"leaves" height="18" width="18"/> Accessories</a></li>
    <li><a id="Clothing" href="/?category=Clothing"><img src="/stylesheets/leaves.png" alt"leaves" height="18" width="18"/> Clothing</a></li>
    <li><a id="Decoration" href="/?category=Decoration"><img src="/stylesheets/leaves.png" alt"leaves" height="18" width="18"/> Decoration</a></li>
    <li><a id="Office" href="/?category=Office"><img src="/stylesheets/leaves.png" alt"leaves" height="18" width="18"/> Office Supplies</a></li>
    <li><a id="Other" href="/?category=Other"><img src="/stylesheets/leaves.png" alt"leaves" height="18" width="18"/> Other</a></li>
    <li style="float:right"><a href="/profile"><img src="/stylesheets/leaves.png" alt"leaves" height="18" width="18"/> Profile</a></li>
  </ul>
  <body>
    <br><h1>Add a product</h1>
    <p>Please enter information for all required fields (*):</p>
    <form class="" action="" enctype="multipart/form-data" method="post">
      <br>
      <div>Name (*):<input type="text" name="nam" value=""></div>
      <br>
      <div>Description (*):<input type="text" name="desc" value=""></div>
      <br>
      Upload an image of your product: (*)<div>
        <input type="file" name="pic" accept="image/*" value="">
      </div>
      <br>
      <div>Category:&nbsp&nbsp&nbsp&nbsp<input type="radio" id= "cat1" name="cat" value="Accessories">
      <label for="cat1">Accessories</label>&nbsp&nbsp&nbsp
      <input type="radio" id= "cat2" name="cat" value="Clothing">
      <label for="cat2">Clothing</label>&nbsp&nbsp&nbsp
      <input type="radio" id= "cat3" name="cat" value="Decoration">
      <label for="cat3">Decoration</label>&nbsp&nbsp&nbsp
      <input type="radio" id= "cat4" name="cat" value="Office Supplies">
      <label for="cat4">Office Supplies</label>&nbsp&nbsp&nbsp
      <input type="radio" id= "Other" name="cat" value="Other">
      <label for="Other">Other</label>
      </div>
      <br>
      <button type="submit" class="registerbtn"><h2>Add product</h2></button>
      <!-- <input type="submit" name="sub-butt" value="Add product"> -->
    </form>
  </body>
</html>
