<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <title>Exchange</title>
    <link href="/stylesheets/exchange.css" rel="stylesheet">
  <div id="logoHeader">
    <div id="header">
      <img src="/stylesheets/UpTrade.png" alt"logo" />
    </div>
  </div>
  <body>
    <h1>Books!!</h1>
      {% for book in books %}
        <div class="book">
          <h4>{{book['volumeInfo']['title']}}</h4>
          <img src="{{book['volumeInfo']['imageLinks']['thumbnail']}}" alt=""><br>
          <ul>
            {% for author in book['volumeInfo']['authors'] %}
            <li>{{author}}</li><br>
            {% endfor %}
          </ul>
        </div>
      {% endfor %}
  </body>
</html>
