

<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>UpTrade 🌿{{title}}</title>
    <link href="/stylesheets/home.css" rel="stylesheet">
    <link rel="icon" href="/favicon.ico" type="image/x-icon">
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="/stylesheets/slider.css">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  </head>

  <body>
    <div id="logoHeader">
      <div id="header">
        <a href="/"><img src="/images/UpTrade.png" alt="logo"/></a>
      </div>
    </div>
    <ul>
      <li><a id="Home" href="/"><img src="/images/leaves.png" alt="leaves" height="18" width="18"/> Home</a></li>
      <li><a id="Accessories" href="/?category=Accessories"><img src="/images/leaves.png" alt="leaves" height="18" width="18"/> Accessories</a></li>
      <li><a id="Clothing" href="/?category=Clothing"><img src="/images/leaves.png" alt="leaves" height="18" width="18"/> Clothing</a></li>
      <li><a id="Decoration" href="/?category=Decoration"><img src="/images/leaves.png" alt="leaves" height="18" width="18"/> Decoration</a></li>
      <li><a id="Office" href="/?category=Office"><img src="/images/leaves.png" alt="leaves" height="18" width="18"/> Office Supplies</a></li>
      <li><a id="Other" href="/?category=Other"><img src="/images/leaves.png" alt="leaves" height="18" width="18"/> Other</a></li>
      <li style="float:right"><a href="/profile"><img src="/images/leaves.png" alt="leaves" height="18" width="18"/> Profile</a></li>
    </ul>
    <br>
    <br>
    <section class="products">
      {% if products|length==0 %}
      <h3>There are currently no items to trade here</h3>
      {% endif %}
      <div class="auto-slider w3-content w3-display-containe">
        <!-- <figure> -->
        {% for product in products %}
        <div class="auto-slider__content mySlide">
          <a href="/product?id={{product.key.urlsafe()}}">
            <div class="product-image">
              <img alt="Product image" src="/img?img_id={{product.key.urlsafe()}}">
            </div>
            <!-- <div class="product-info">
              <br><h3>{{product.name}}</h3>
                <h5>Traded by: product.seller.get().name</h5> <br>
              </div> -->
          </a>
          <div class="product-info">
            <br>
            <h3>&nbsp &nbsp{{product.name}}</h3>
            <h5>&nbsp &nbsp Traded by: {{product.seller.get().name}}</h5>
            <br>
          </div>
          <button class="w3-button w3-black w3-display-left" onclick="plusDivs(-1)">&#10094;</button>
          <button class="w3-button w3-black w3-display-right" onclick="plusDivs(1)">&#10095;</button>
        </div>
        <!-- <div class="product-card">
          <a href="/product?id={{product.key.urlsafe()}}"><div class="product-image">
            <img src="/img?img_id={{product.key.urlsafe()}}"></img>
          </div> -->
        {% endfor %}
      </div>
      <!-- </ul> -->
      <!-- </figure> -->
    </section>
    <script>
      let url=new URL(window.location.href);
      let category=url.searchParams.get('category');

      if (category===null){
        category='Home';
      }

      let active_page=document.getElementById(category);
      active_page.classList.add("active");
    </script>
    <script src="/js/home.js"></script>
  </body>
</html>
<!-- <div class="auto-slider">
  <ul class="auto-slider__content">
    <li><img src="http://lorempixel.com/output/food-q-c-720-360-1.jpg" alt="food-1"></li>
    <li><img src="http://lorempixel.com/output/food-q-c-720-360-2.jpg" alt="food-2"></li>
    <li><img src="http://lorempixel.com/output/food-q-c-720-360-3.jpg" alt="food-3"></li>
    <li><img src="http://lorempixel.com/output/food-q-c-720-360-4.jpg" alt="food-4"></li>
  </ul>
  </div> -->
