<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>UpTrade 🌿{{title}}</title>
    <link href="/stylesheets/home.css" rel="stylesheet">
  </head>
  <div id="logoHeader">
    <div id="header">
      <img src="/stylesheets/UpTrade.png" alt"logo"/>
    </div>
  </div>
  <ul>
    <li style-"float:right"><a id="Home" href="/"><img src="/stylesheets/leaves.png" alt"leaves" height="18" width="18"/> Home</a></li>
    <li><a id="Accessories" href="/?category=Accessories"><img src="/stylesheets/leaves.png" alt"leaves" height="18" width="18"/> Accessories</a></li>
    <li><a id="Clothing" href="/?category=Clothing"><img src="/stylesheets/leaves.png" alt"leaves" height="18" width="18"/> Clothing</a></li>
    <li><a id="Decoration" href="/?category=Decoration"><img src="/stylesheets/leaves.png" alt"leaves" height="18" width="18"/> Decoration</a></li>
    <li><a id="Office" href="/?category=Office"><img src="/stylesheets/leaves.png" alt"leaves" height="18" width="18"/> Office Supplies</a></li>
    <li><a id="Other" href="/?category=Other"><img src="/stylesheets/leaves.png" alt"leaves" height="18" width="18"/> Other</a></li>
    <li style="float:right"><a href="/profile"><img src="/stylesheets/leaves.png" alt"leaves" height="18" width="18"/> Profile</a></li>
</div>
</li>
  </ul>
<br>
  <body>
    <br>
    <section class="products">
      {% if products|length==0 %}
        <h3>There are currently no items to trade here</h3>
      {% endif %}
    {% for product in products %}
      <div class="product-card">
        <a href="/product?id={{product.key.urlsafe()}}"><div class="product-image">
          <img src="/img?img_id={{product.key.urlsafe()}}"></img>
        </div>
        <div class="product-info">
          <br><h3>{{product.name}}</h3>
          <h5>Traded by: {{product.seller.get().name}}</h5> <br>
        </div></a>
      </div>
    {% endfor %}
    </section>

    <script>
      let url=new URL(window.location.href);
      let category=url.searchParams.get('category');

      if (category===null){
        category='Home';
      }

      let active_page=document.getElementById(category);
      active_page.classList.add("active");
    </script>
  </body>
</html>
