<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>UpTrade 🌿</title>
    <link href="/stylesheets/home.css" rel="stylesheet">
  </head>
  <div id="logoHeader">
    <div id="header">
      <img src="/stylesheets/UpTrade.png" alt"logo"/>
    </div>
  </div>
  <ul>
    <li style-"float:right"><a href="/"><img src="/stylesheets/leaves.png" alt"leaves" height="18" width="18"/> Home</a></li>
    <li><a href="/category?c=Accessories"><img src="/stylesheets/leaves.png" alt"leaves" height="18" width="18"/> Accessories</a></li>
    <li><a href="/category?c=Clothing"><img src="/stylesheets/leaves.png" alt"leaves" height="18" width="18"/> Clothing</a></li>
    <li><a href="/category?c=Decoration"><img src="/stylesheets/leaves.png" alt"leaves" height="18" width="18"/> Decoration</a></li>
    <li><a href="/category?c=Office"><img src="/stylesheets/leaves.png" alt"leaves" height="18" width="18"/> Office Supplies</a></li>
    <li><a href="/category?c=Other"><img src="/stylesheets/leaves.png" alt"leaves" height="18" width="18"/> Other</a></li>
    <li style="float:right"><a href="/profile"><img src="/stylesheets/leaves.png" alt"leaves" height="18" width="18"/> Profile</a></li>
</div>
</li>
  </ul>
<br>
  <body>
    <br>
    <section class="products">
      {% if products|length==0 %}
        <h3>There are currently no items to trade here</h3>
      {% endif %}
  <!-- <a href="{{signin_link}}">Login</a><br><br><br> -->
    {% for product in products %}
      <div class="product-card">
        <a href="/product?id={{product.key.urlsafe()}}"><div class="product-image">
          <img src="/img?img_id={{product.key.urlsafe()}}"></img>
        </div>
        <div class="product-info">
          <br><h3>{{product.name}}</h3>
        </div></a>
        <!-- <div class="product-image">
          <img src="/img?img_id={{product.key.urlsafe()}}"></img>
        </div>
        <div class="product-info">
          <br><h3>{{product.name}}</h3>
        </div> -->
      </div>
    {% endfor %}
    </section>
  </body>
</html>
