<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>UpTrade 🌿Products</title>
    <link href="/stylesheets/home.css" rel="stylesheet">
    <link rel="stylesheet" href="/stylesheets/signup.css">

  </head>
  <div id="logoHeader">
    <div id="header">
      <img src="/images/UpTrade.png" alt"logo" />
    </div>
  </div>
  <ul>
    <li><a id="Home" href="/"><img src="/images/leaves.png" alt"leaves" height="18" width="18"/> Home</a></li>
    <li><a id="Accessories" href="/?category=Accessories"><img src="/images/leaves.png" alt"leaves" height="18" width="18"/> Accessories</a></li>
    <li><a id="Clothing" href="/?category=Clothing"><img src="/images/leaves.png" alt"leaves" height="18" width="18"/> Clothing</a></li>
    <li><a id="Decoration" href="/?category=Decoration"><img src="/images/leaves.png" alt"leaves" height="18" width="18"/> Decoration</a></li>
    <li><a id="Office" href="/?category=Office"><img src="/images/leaves.png" alt"leaves" height="18" width="18"/> Office Supplies</a></li>
    <li><a id="Other" href="/?category=Other"><img src="/images/leaves.png" alt"leaves" height="18" width="18"/> Other</a></li>
    <li style="float:right"><a href="/profile"><img src="/images/leaves.png" alt"leaves" height="18" width="18"/> Profile</a></li>
  </ul>
  <body><br>
    <img src="/img?img_id={{product.key.urlsafe()}}"></img>
    <h3>{{product.name}}</h3>
    <h5>Traded by: {{product.seller.get().name}}</h5>
    <p>{{product.description}}</p>
    {% if product.seller.get()!=current_user %}
    <button type="button" class="registerbtn"><a href="/exchange?p={{product.key.urlsafe()}}">Exchange</a></button>
    {% else %}
    <script>
      document.getElementById("myBtn").addEventListener("click", displayAlert);
      function displayAlert() {
        document.getElementById("demo").innerHTML = "This is your product. You cannot trade for it."
      }
      </script>
    <button type="button" class="registerbtn"><a href="/">Go back to the home page</a></button>
    {% endif %}
  </body>
</html>
