<!DOCTYPE html>

<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>UpTrade 🌿Profile</title>
    <link rel="stylesheet" href="/stylesheets/profile.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="icon" href="/favicon.ico" type="image/x-icon">
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
  </head>
   <body>
     <a href="/"><img id="header" width=100% src="/images/newheader.png" alt="logo"/></a>
   <ul>
    <div class="categories">
      <li><a id="Home" href="/"><img src="/images/leaves.png" alt="leaves" height="18" width="18"/> Home</a></li>
      <li><a id="Accessories" href="/?category=Accessories"><img src="/images/leaves.png" alt="leaves" height="18" width="18"/> Accessories</a></li>
      <li><a id="Clothing" href="/?category=Clothing"><img src="/images/leaves.png" alt="leaves" height="18" width="18"/> Clothing</a></li>
      <li><a id="Decoration" href="/?category=Decoration"><img src="/images/leaves.png" alt="leaves" height="18" width="18"/> Decoration</a></li>
      <li><a id="Office" href="/?category=Office"><img src="/images/leaves.png" alt="leaves" height="18" width="18"/> Office Supplies</a></li>
      <li><a id="Other" href="/?category=Other"><img src="/images/leaves.png" alt="leaves" height="18" width="18"/> Other</a></li>
      <div class="spacer"></div>
      <li class="dropdown profile">
        <a href="javascript:void(0)" class="dropbtn"><img src="/images/leaves.png" alt="leaves" height="18" width="18"/> Profile</a>
        <div class="dropdown-content">
          <a href="/profile">View Profile</a>
          <a href="/add">Add Product</a>
          <a href="/profile">Delete Profile</a>
       </div>
      </li>
    </div>
    </ul>
<br>
<br>
  <div class="profile-card">
    <div class="image-container">

      <img src="data:image/png;base64, {{image}}" style="width:100%" alt="">

      <div class="title">
        <h2>&nbsp &nbsp{{user}}</h2>
      </div>
    </div>
    <div class="main-container">
      <!-- <p><i class="fa fa-home info"></i> (address)</p> -->
      <p><i class="fa fa-envelope info"></i> {{email_address}}</p>
      <!-- <p><i class="fa fa-phone info"></i> (phone)</p> -->
      <hr>
      <!-- <p><i class="fa fa-home"></i>hello</p> -->
      <!-- <div class="skill-bar">
        <div class="progress-bar" style="width:80%">80%</div>
      </div>
       -->
    </div>
  </div>  </body>
</html>
