<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>UpTrade 🌿Exchange</title>
    <link href="/stylesheets/home.css" rel="stylesheet">
    <link rel="icon" href="/favicon.ico" type="image/x-icon">
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
  </head>
    <a href="/"><img id="header" width=100% src="/images/newheader.png" alt="logo"/></a>
  <ul>
    <div class="categories">
      <li><a id="Home" href="/"><img src="/images/leaves.png" alt="leaves" height="18" width="18"/> Home</a></li>
      <li><a id="Accessories" href="/?category=Accessories"><img src="/images/leaves.png" alt="leaves" height="18" width="18"/> Accessories</a></li>
      <li><a id="Clothing" href="/?category=Clothing"><img src="/images/leaves.png" alt="leaves" height="18" width="18"/> Clothing</a></li>
      <li><a id="Decoration" href="/?category=Decoration"><img src="/images/leaves.png" alt="leaves" height="18" width="18"/> Decoration</a></li>
      <li><a id="Office" href="/?category=Office"><img src="/images/leaves.png" alt="leaves" height="18" width="18"/> Office Supplies</a></li>
      <li><a id="Other" href="/?category=Other"><img src="/images/leaves.png" alt="leaves" height="18" width="18"/> Other</a></li>
      <div class="spacer"></div>
      <li class="dropdown profile">
        <a href="javascript:void(0)" class="dropbtn"><img src="/images/leaves.png" alt="leaves" height="18" width="18"/> Profile</a>
        <div class="dropdown-content">
          <a href="/profile">View Profile</a>
          <a href="/add">Add Product</a>
          <a href="/deleteProfile" class="delete" onclick="return confirm('Are you sure you want to delete this account permanently?')">Delete Profile</a>
          <a href="{{important}}">Sign out</a>
        </div>
      </li>
    </div>
  </ul>
<br>
  <body>
    <h1>{{exchange.product2.get().seller.get().name}} wants to trade {{exchange.product2.get().name}} for one of your products: {{exchange.product1.get().name}}</h1>
    <h3>Choose accept offer to contact {{exchange.product2.get().seller.get().name}} about exchange methods and select decline offer to continue recieving trading offers for {{exchange.product1.get().name}}</h3>
    <form class="" action="/review" method="post">
      <input type="radio" id="option1"
         name="offer" value="yes">
        <label for="option1">Accept Offer</label>
      <input type="radio" id="option2"
         name="offer" value="no">
        <label for="option2">Decline Offer</label>
      <input type="hidden" name="e" value="{{exchange.key.urlsafe()}}">
      <input type="submit" name="sub_butt" value="Respond to offer">
    </form>
      <script src="/js/page.js" type="text/javascript"></script>
  </body>
</html>
