<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>UpTrade 🌿Exchange</title>
    <link href="/stylesheets/home.css" rel="stylesheet">
  </head>
  <div id="logoHeader">
    <div id="header">
      <img src="/stylesheets/UpTradeLogo.png" alt"logo"/>
    </div>
  </div>
  <ul>
<li><a href="/"><img src="/stylesheets/leaves.png" alt"leaves" height="18" width="18"/> Home</a></li>
<li><a href="/accessories"><img src="/stylesheets/leaves.png" alt"leaves" height="18" width="18"/> Accessories</a></li>
<li><a href="/clothing"><img src="/stylesheets/leaves.png" alt"leaves" height="18" width="18"/> Clothing</a></li>
<li><a href="/decoration"><img src="/stylesheets/leaves.png" alt"leaves" height="18" width="18"/> Decoration</a></li>
<li><a href="/office"><img src="/stylesheets/leaves.png" alt"leaves" height="18" width="18"/> Office Supplies</a></li>
<li><a href="/other"><img src="/stylesheets/leaves.png" alt"leaves" height="18" width="18"/> Other</a></li>
    <li style="float:right"><a href="/profile"><img src="/stylesheets/leaves.png" alt"leaves" height="18" width="18"/> Profile</a></li>
  </ul>
<br>
  <body>
    <h1>{{exchange.product2.get().seller}} wants to trade {{exchange.product2.get().name}} for one of your products: {{exchange.product1.get().name}}</h1>
    <h3>Choose accept offer to contact {{exchange.product2.get().seller}} about exchange methods and</h3>
    <form class="" action="index.html" method="post">
      <input type="radio" id="option1"
         name="offer" value="yes">
        <label for="option1">Accept Offer</label>
      <input type="radio" id="option2"
         name="offer" value="no">
        <label for="option2">Decline Offer</label>
    </form>
  </body>
</html>
