<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="./sellerProfile.css">
  </head>
  <body>
    <div class="card">
      <img src="#" alt="" style="width:100%">
      <h1>Name</h1>
      <p class="title">Example</p>
      <a href="#"><i class="fa fa-twitter"></i></a>
      <a href="#"><i class="fa fa-linkedin"></i></a>
      <a href="#"><i class="fa fa-facebook"></i></a>
      <p><button>Contact</button></p>
    </div>
  </body>
</html>
