<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="stylesheets/signup.css">
    <title>UpTrade 🌿Sign in</title>
  </head>
    <li><a href="/"><img src="/stylesheets/leaves.png" alt"leaves" height="18" width="18"/> Home</a></li>
    <li><a href="/accessories"><img src="/stylesheets/leaves.png" alt"leaves" height="18" width="18"/> Accessories</a></li>
    <li><a href="/clothing"><img src="/stylesheets/leaves.png" alt"leaves" height="18" width="18"/> Clothing</a></li>
    <li><a href="/decoration"><img src="/stylesheets/leaves.png" alt"leaves" height="18" width="18"/> Decoration</a></li>
    <li><a href="/office"><img src="/stylesheets/leaves.png" alt"leaves" height="18" width="18"/> Office Supplies</a></li>
    <li><a href="/other"><img src="/stylesheets/leaves.png" alt"leaves" height="18" width="18"/> Other</a></li>
    <li style="float:right"><a href="/profile"><img src="/stylesheets/leaves.png" alt"leaves" height="18" width="18"/> Profile</a></li>
  <body>
    <section class="sign-in">
      <div class="container">
          <div class="signin-content">
              <div class="signin-image">
                  <a href="signup.html" class="signup-image-link">Create an account</a>
              </div>
              <div>
                  <h2 class="form-title">Sign in</h2>
                  <form method="POST" class="register-form" id="login-form">
                      <div>
                          <input type="text" name="your_name" id="your_name" placeholder="Your Name"/>
                      </div>
                      <div>
                          <input type="password" name="your_pass" id="your_pass" placeholder="Password"/>
                      </div>
                      <div>
                          <input type="checkbox" name="remember-me" id="remember-me" class="agree-term" />
                          <label for="remember-me" class="label-agree-term"><span><span></span></span>Remember me</label>
                      </div>
                      <div>
                          <input type="submit" name="signin" id="signin" class="form-submit" value="Log in"/>
                      </div>
                  </form>
                  <div class="social-login">
                      <span class="social-label">Or login with</span>
                        <a href="#"><i class="fa fa-twitter"></i></a>
                        <a href="#"><i class="fa fa-linkedin"></i></a>
                        <a href="#"><i class="fa fa-facebook"></i></a>
                  </div>
              </div>
          </div>
      </div>
    </section>

  </body>
</html>
