<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>UpTrade 🌿Sign Up</title>
    <link rel="stylesheet" href="fonts/material-icon/css/material-design-iconic-font.min.css">
    <link rel="stylesheet" href="/stylesheets/home.css" rel="stylesheet">
    <link rel="stylesheet" href="/stylesheets/signup.css">

</head>
<div id="logoHeader">
  <div id="header">
    <img src="/stylesheets/UpTrade.png" alt"logo" />
  </div>
</div>
<ul>
  <li><a href="/"><img src="/stylesheets/leaves.png" alt"leaves" height="18" width="18"/> Home</a></li>
  <li><a href="/accessories"><img src="/stylesheets/leaves.png" alt"leaves" height="18" width="18"/> Accessories</a></li>
  <li><a href="/clothing"><img src="/stylesheets/leaves.png" alt"leaves" height="18" width="18"/> Clothing</a></li>
  <li><a href="/decoration"><img src="/stylesheets/leaves.png" alt"leaves" height="18" width="18"/> Decoration</a></li>
  <li><a href="/office"><img src="/stylesheets/leaves.png" alt"leaves" height="18" width="18"/> Office Supplies</a></li>
  <li><a href="/other"><img src="/stylesheets/leaves.png" alt"leaves" height="18" width="18"/> Other</a></li>
  <li style="float:right"><a href="/profile"><img src="/stylesheets/leaves.png" alt"leaves" height="18" width="18"/> Profile</a></li>
</ul>
<body>
    <div class="main">
        <!-- Sign up form -->
        <section class="signup">
            <div class="container">
                <div class="signup-content">
                    <div class="signup-form">
                        <h2 class="form-title">Sign up</h2>
                        <p>Please enter the following information to create an account.</p>
                        <hr>
                        <!-- <form class="" action="/" enctype="multipart/form-data" method="post"> -->
                        <form name="myForm" action="/action_page.php" onsubmit="return validateForm()" method="post">
                          Full name: <input type="text" name="name" placeholder="Your name"><br>
                          Upload your profile picture
                          <input type="file" name="pic" accept="image/*" value="" required><br><br>
                          <input type="checkbox" name="agree-term" id="agree-term" class="agree-term" required>
                          <label for="agree-term" class="label-agree-term"><span><span></span></span>I agree all statements in  <a href="#" class="term-service">Terms of service</a></label>
                          <button type="submit" class="registerbtn">Register</button>
                        </form>

                    </div>
                    <div class="container signin">
                        <p>Already have an account?<a href="/"> Sign in</a>.</p>
                    </div>
                </div>
            </div>
        </section>

    </div>

    <script src="/js/home.js">

    </script>
  </body>
</html>
